img {
  width: 300px;
  float:left;
  margin-right: 40px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top:10px;
}

.aboutme {
  border: 3px solid lightgrey;
  margin-bottom: 45px;
  padding: 10px;
}

a {
  color:black;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: lightyellow;
}

.bold {
  font-weight: bold;
  color: green;
}
